---
http_interactions:
- request:
    method: post
    uri: https://xray.cloud.xpand-it.com/api/v1/authenticate
    body:
      encoding: UTF-8
      string: client_id=client_id&client_secret=client_secret
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Surrogate-Control:
      - no-store
      X-Access-Token:
      - access_bearer_token
    body:
      encoding: ASCII-8BIT
      string: '"access_bearer_token"'
  recorded_at: Fri, 31 May 2019 09:41:25 GMT
- request:
    method: post
    uri: https://xray.cloud.xpand-it.com/api/v1/import/execution
    body:
      encoding: UTF-8
      string: '{"info":{"summary":"Execution of automated tests 2019-05-31 10:41:24","description":"This
        execution is automatically created when importing execution results from an
        external source","startDate":"2019-05-31T10:41:23+01:00","finishDate":"2019-05-31T10:41:24+01:00","version":"1.0","revision":"2.0","testEnvironments":["dummy"]},"tests":[{"testKey":"QAD-1","start":"2019-05-31T10:41:23+01:00","finish":"2019-05-31T10:41:24+01:00","comment":"","status":"PASSED"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_bearer_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b-avzVEQoqL9EY+K1AH4PtQMqYXRQ"
      Surrogate-Control:
      - no-store
    body:
      encoding: UTF-8
      string: '{"id":"10006","key":"QAD-7","self":"https://qadtests.atlassian.net/rest/api/2/issue/10006"}'
  recorded_at: Fri, 31 May 2019 09:41:28 GMT
recorded_with: VCR 5.0.0
