---
http_interactions:
- request:
    method: post
    uri: http://test.jira.com/rest/raven/1.0/import/execution
    body:
      encoding: UTF-8
      string: '{"info":{"summary":"Execution of automated tests 2019-05-31 09:12:06","description":"This
        execution is automatically created when importing execution results from an
        external source","startDate":"2019-05-31T09:12:05+01:00","finishDate":"2019-05-31T09:12:06+01:00","version":"1.0","revision":"1.0","testEnvironments":["dummy"]},"tests":[{"testKey":"QAT-1","start":"2019-05-31T09:12:05+01:00","finish":"2019-05-31T09:12:06+01:00","comment":"","status":"PASS"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic authorization_token
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Arequestid:
      - 544x13017x1
      X-Asen:
      - SEN-L13677260
      X-Seraph-Loginreason:
      - OK
      X-Asessionid:
      - 1k8lbgn
      X-Ausername:
      - username
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"testExecIssue":{"id":"10040","key":"QAT-23","self":"http://192.168.19.24:8000/rest/api/2/issue/10040"}}'
  recorded_at: Fri, 31 May 2019 08:12:06 GMT
recorded_with: VCR 5.0.0
